.site-footer {
    span, p, h2 {
        color: $footerTextColor;
    }
    background: $footerBackgroundColor;
    padding-top: 4rem;
    & label,
    small {
        color: $footerTextColor;
    }
    a {
        color: $footerLinkColor;
        img {
            margin-bottom: 20px;
        }
    }
    .logo img {
        margin-bottom: 1rem;
    }
    .footer-links {
        ul {
            margin: 0;
            li {
                margin-bottom: 5px;
            }
        }
    }
    .ckan-footer-logo {
        display: inline-block;
        width: 85px;
        height: 29px;
        margin-top: 2px;
        background: url("#{$imagePath}/ckan-logo-color.png") no-repeat top left;
        text-indent: -900em;
    }

    .attribution {
        p  {
            color: $footerTextColor;
            font-size: $h5-font-size;
        }
    }
    .copyright {
        background-color: $black;
        display: flex;
        padding: 20px;
        .copyright-notice {
            display: flex;
            align-items: center;
        }
    }
    .lang-select {
        .form-group { 
            label {
                font-size: $h5-font-size;
            }
            width: 100%;
            display: flex;
            flex-direction: column;
        }
      
    }
}
