.group .media-vertical .image {
    margin: 0 -5px 5px;
}

// Group List
// A group item summary plus a list of datasets belonging to the group.

.group-list {
    padding: 1rem;
}

.group-list .dataset-content {
    min-height: 54px;
}

.group-list .module-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    p {
        color: $gray-500;
        margin-bottom: 0;
    }
}

.group-list .module-heading .media-image {
    overflow: hidden;
    max-height: 60px;
    img {
        max-width: 85px;
    }
}