// Base variables
$imagePath: "../../../base/images";
$bgPath: "#{$imagePath}/bg.png";

// Layout Variables
$layoutFontFamily: $font-family-sans-serif;
$layoutTextColor: $gray-700;
$layoutBoldColor: $black;
$layoutLinkColor: $primary;
$layoutBackgroundColor: $gray-200;
$layoutTrimBackgroundColor: $white;
$layoutTrimBorderColor: $gray-400;
$logoMaxHeight: $spacer-ck-9;

$navLinkColor: $gray-900;
$navActiveBackgroundColor: $gray-100;

// Module Variables
$moduleBackgroundColor: $white;
$moduleHeadingBorderColor: $gray-300;
$moduleHeadingBackgroundColor: $gray-100;
$moduleHeadingActionTextColor: $dgrey-300;
$moduleExpandedBackgroundColor: $gray-100;

$tabTextColor: $gray-800;
$tagBackgroundColor: $gray-100;

$gutterX: $spacer-ck-6;
$gutterY: $spacer-ck-5;
$gutterSmallX: $spacer;
$gutterSmallY: $gutterY;

$emptyTextColor: $gray-500;
$genericBorderColor: $gray-200;

$breadcrumbTextColor: $brand-500;
$breadcrumbActiveTextColor: $gray-500;

$mastheadTextColor: $black;
$mastheadLinkColor: $mastheadTextColor;
$mastheadBackgroundColor: $white;
$mastheadBackgroundColorStart: $brand-700;
$mastheadBackgroundColorEnd: $brand-700;

$navItemActiveTextColor: $white;
$navItemActiveBackgroundColor: $gray-500;
$navItemActiveArrowSize: $spacer-1;

$pillTextColor: $navItemActiveTextColor;
$pillBackgroundColor: darken($navItemActiveBackgroundColor, 10%);

$footerBackgroundColor: #030d38; //brand-700
$footerTextColor: $white;
$footerLinkColor: #6d83ab; //branc-200

$inputColor: $black;
$inputBackground: $body-bg;
$inputBorder: $gray-300;
$inputBorderRadius: $border-radius;
$disabledCustomInputTextColor: $dgrey-200;
$disabledCustomInputBackground: $gray-100;

$highlightBackground: $gray-100;
$highlightHoverBackground: darken($gray-100, 5%);

// Forms

$errorText: #842029;
$errorBackground: $red-100;
$errorBorder: $red-700;

$formInfoText: $gray-500;

$stagesTextColor: $dgrey-200;
$stagesBackground: $gray-200;
$stagesTransparentBackground: $transparent;
$stagesActiveTextColor: $white;
$stagesActiveBackground: $green-200;
$stagesActiveTransparentBackground: $transparent;
$stagesCompleteTextColor: $gray-200;
$stagesCompleteBackground: $green-50;
$stagesCompleteTransparentBackground: $transparent;
$stagesCounterTextColor: $white;
$stagesCounterBackground: $dgrey-200;
$stagesCounterActiveTextColor: $green-200;
$stagesCounterActiveBackground: $white;
$stagesCounterCompleteTextColor: $green-200;
$stagesCounterCompleteBackground: $green-50;

$codeTextColor: $black;


// Datasets

$listingHeadingTextColor: $gray-700;
$resourceFormatBackground: $gray-500;

// Table

$chunkyTableHeaderTextColor: $white;
$chunkyTableHeaderBackgroundColor: $dgrey-200;
$chunkyTableStripeBackgroundColor: $gray-100;

// Twitter Bootstrap Overrides
$bodyBackground: $layoutBackgroundColor;
$btnBackground: $white;
$btnBackgroundHighlight: $gray-200;
$btnPrimaryBackground: $brand-500;
$btnPrimaryBackgroundHighlight: $brand-500;
$baseFontFamily: $layoutFontFamily;
$textColor: $layoutTextColor;
$linkColor: $layoutLinkColor;
$iconSpritePath: "../images/bootstrap-glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/bootstrap-glyphicons-halflings-white.png";

// Navigation
$zindex-navbar: 1;
