.activity {
  padding: 0.5rem;
  list-style-type: none;
  border-radius: 20px;
  background-color: #f2f4f7;
}
.activity .item {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #e4e7ec;
}
.activity .item:last-child {
  border-bottom: none;
}
.activity .item .user-image {
  border-radius: 100px;
}
.activity .item .date {
  color: #667085;
}
.activity .item.no-avatar p {
  margin-left: 40px;
}
.activity.activity-empty {
  background: none;
}
@media (min-width: 768px) {
  .activity .item .date {
    margin: 5px 0 0 80px;
  }
}

.activity_buttons {
  display: flex;
  gap: 0.5rem;
}
.activity_buttons > a.btn.disabled {
  color: inherit;
  opacity: 0.7;
}

.popover {
  width: 300px;
}
.popover .popover-title {
  font-weight: bold;
  margin-bottom: 0;
}
.popover p.about {
  margin: 0 0 10px 0;
}
.popover .popover-close {
  float: right;
  text-decoration: none;
}
.popover .empty {
  padding: 10px;
  color: #6E6E6E;
  font-style: italic;
}

.activity .item .icon {
  color: #667085;
}
.activity .item.failure .icon {
  color: #B95252;
}
.activity .item.success .icon {
  color: #039B9B;
}
.activity .item.added-tag .icon {
  color: #03039b;
}
.activity .item.changed-group .icon {
  color: #430D73;
}
.activity .item.changed-package .icon {
  color: #650d73;
}
.activity .item.changed-package_extra .icon {
  color: #210d73;
}
.activity .item.changed-resource .icon {
  color: #730d5f;
}
.activity .item.changed-user .icon {
  color: #0d1b73;
}
.activity .item.changed-organization .icon {
  color: #031c9b;
}
.activity .item.deleted-group .icon {
  color: #B95252;
}
.activity .item.deleted-package .icon {
  color: #b97452;
}
.activity .item.deleted-package_extra .icon {
  color: #b95274;
}
.activity .item.deleted-resource .icon {
  color: #b99752;
}
.activity .item.deleted-organization .icon {
  color: #b95297;
}
.activity .item.new-group .icon {
  color: #039B9B;
}
.activity .item.new-package .icon {
  color: #03689b;
}
.activity .item.new-package_extra .icon {
  color: #039b68;
}
.activity .item.new-resource .icon {
  color: #039b36;
}
.activity .item.new-user .icon {
  color: #03369b;
}
.activity .item.new-organization .icon {
  color: #039b36;
}
.activity .item.removed-tag .icon {
  color: #b95297;
}
.activity .item.deleted-related-item .icon {
  color: #b9b952;
}
.activity .item.follow-dataset .icon {
  color: #928009;
}
.activity .item.follow-user .icon {
  color: #769209;
}
.activity .item.new-related-item .icon {
  color: #039b03;
}
.activity .item.follow-group .icon {
  color: #039b1c;
}

.select-time {
  width: 250px;
  display: inline;
}

br.line-height2 {
  line-height: 2;
}

.pull-right {
  float: right;
}