{% extends "page.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}
{% block maintag %}<div class="login_container">{% endblock %}
{% block main_content %}
  <div class="row login_wrapper" role="main">
    <div>
    {% block flash %}
      <div class="flash-messages pull-right col-md-6">
        {% block flash_inner %}
          {{ super() }}
        {% endblock flash_inner %}
      </div>
    </div>
    {% endblock flash %}
    <div class="col-md-6 login_content">
      {% block secondary %}
        <div class="login_aside">
          <div class="heading_container">
            {% block logo %}
              <img class="d-none d-md-block" src="{{ h.url_for_static('/base/images/ckan-logo-boat.png') }}" alt="" role="presentation"/>
            {% endblock %}
            <h1 class="page-heading">
              {% block page_heading %}{{ _('Login') }}{% endblock %}
            </h1>
          </div>
          {% block secondary_content %}
          {% endblock secondary_content %}
        </div>
      {% endblock secondary %}
    </div>
    <div class="col-md-6 login_form">
      {% block primary_content %}
        {% block primary_content_inner %}
          {% block form %}
            {% snippet "user/snippets/login_form.html", error_summary=error_summary %}
          {% endblock %}
        {% endblock primary_content_inner %}
      {% endblock primary_content %}
    </div>
  </div>
{% endblock main_content %}