{% extends "user/login.html" %}

{% block subtitle %}{{ _('Register') }}{% endblock %}

{% block page_heading %}{{ _('Register for an Account') }}{% endblock %}\

{% block form %}
  {{ form | safe }}
{% endblock form %}

{% block secondary_content %}
  {% block help %}
    <section class="module module-narrow module-shallow">
      {% block help_inner %}
        <h2><a href="{{ h.url_for('user.login') }}">{{ _('Login') }}</a></h2>
        <div>
          <p>{% trans %}Create datasets, groups and other exciting things{% endtrans %}</p>
        </div>
      {% endblock %}
  {% endblock %}
{% endblock %}
