{% set url=h.url_for(organization.type ~ '.read', id=organization.name) %}
{% block organization_item %}
  <section class="group-list">
    <a href="{{ url }}">
      {% block organization_item_header %}
        {% block organization_item_header_image %}
          <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-200x50.png') }}" alt="{{ organization.name }}" width="210" height="50"/>
        {% endblock %}
        {% block organization_item_header_title %}
          <h3>{{ organization.title or organization.name }}</h3>
        {% endblock %}
        {% block organization_item_header_datasets %}
          <span class="count">
            {% if organization.package_count %}
              {{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}
            {% elif organization.package_count == 0 %}
              {{ _('0 Datasets') }}
            {% endif %}
          </span>
        {% endblock %}
      {% endblock %}
    </a>
  </section>
{% endblock %}
